{% extends "base.html" %}

{% block chat %}
<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = 'styles/home.css')}}">
    <div class="container">
        <div class="textarea">
        </div>
    <form>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="message" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button id="sendBtn" class="btn btn-primary" type="submit" id="button-addon2">Send</button>
        </div>
    </form>
    </div>
    <script src="{{ url_for('static', filename= 'home.js')}}"></script>
{% endblock %}