{% extends "base.html" %}
{% block form %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {%for msg in messages %}
    {% set prefix = msg[0] %}
    {% set display = msg[1:] %}
    {% if prefix == "1" %}
      <div class="alert alert-secondary" role="alert">
      {{ display }}
      </div>
    {% else %}
      <div class="alert alert-danger" role="alert">
      {{ display }}
      </div>
    {% endif %}
    {%endfor%}
  {% endif %}
{% endwith %}


<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = 'styles/login.css')}}">
<style>
  @media screen and (max-width: 500px) {
    .wrapper{
        width:75%;
    }
}
</style>
<form method="POST">
  <div class="wrapper">
    <div class="container">
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name" placeholder="Enter your name">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </div>
  </form>
{% endblock %}